@charset "UTF-8";

/* Display */
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-contents {
    display: contents !important;
}

/* Colors */
.text-primary {
    color: var(--primary-color) !important;
}

.text-dark {
    color: var(--text-dark) !important;
}

.text-gray {
    color: #666 !important;
}

.text-muted {
    color: #999 !important;
}

/* Background */
.bg-primary {
    background: var(--primary-color) !important;
}

.bg-dark {
    background: #333 !important;
}

/* Spacing - Margin */
.m-0 {
    margin: 0 !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

/* Spacing - Padding */
.p-10 {
    padding: 10px !important;
}

.p-20 {
    padding: 20px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

/* Text */
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/* Font */
.fw-bold {
    font-weight: bold !important;
}

.fw-normal {
    font-weight: normal !important;
}

.fs-09 {
    font-size: 0.9rem !important;
}

.fs-1 {
    font-size: 1rem !important;
}

/* Alignment */
.va-middle {
    vertical-align: middle !important;
}

.va-top {
    vertical-align: top !important;
}

/* Grid */
.grid-col-full {
    grid-column: 1 / -1 !important;
}

/* Width */
.w-auto {
    width: auto !important;
}

.w-100 {
    width: 100% !important;
}

/* Border */
.border-top {
    border-top: 1px solid #eee !important;
}

.border-bottom {
    border-bottom: 1px solid #eee !important;
}

/* Additional Utilities */
.lh-18 {
    line-height: 1.8 !important;
}

.td-none {
    text-decoration: none !important;
}

.text-inherit {
    color: inherit !important;
}


.border-0 {
    border: 0 !important;
}